$woodDark: url(../images/dark_wood/dark_wood.png)
$woodLight: url(../images/retina_wood/retina_wood.png)
$woodYellow: url(../images/purty_wood/purty_wood.png)
$woodOrange: url(../images/wood_textures/wood1.jpg)

body
    background-image: $woodDark
    font-family: "Cabin", "Trebuchet MS", Geneva, sans-serif
    text-align: center

nav
    background-image: $woodDark
    color: white
    font-size: 1.5em
    left: 0
    padding: 0.5em
    position: fixed
    right: 0
    top: 0
    ul li
        cursor: pointer
        display: inline
        margin-left: 1em

section
    padding: 3em

h1
    font-size: 3em
    margin-bottom: 0.5em
h2
    font-size: 2.5em

img
    border: 0.5em solid #855E42
    float: left
    margin-right: 3em
    max-height: 600px

p
    font-size: 1.5em
    margin-bottom: 0.5em

i
    font-style: italic

.clear:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

#home
    background-image: $woodYellow
    text-align: left

#about
    background-image: $woodOrange

#gallery
    background-image: $woodLight
    padding-left: 10em
    padding-right: 10em
    article
        margin-top: 3em
        div
            padding-top: 0.5em
            text-align: left
            h2
                margin-bottom: 0.5em

#order
    background-image: $woodOrange
    ol
        display: inline-block
        font-size: 1.5em
        list-style-type: decimal
        margin-left: 1.5em
        text-align: left

#contact
    color: white
    a
        color: inherit
